In [1]:
import pandas as pd
import numpy as np
import datetime
import datetime as dt
import pytz
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
import statsmodels.api as sm  
import matplotlib.pyplot as plt  
import seaborn as sns
from statsmodels.tsa.arima_model import ARIMA  
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

In [2]:
import os
working_directory = os.getcwd()
print(working_directory)

/Users/louisaliparisa/Desktop

In [3]:
def dateparse(time_in_secs):
    return pytz.utc.localize(datetime.datetime.fromtimestamp(float(time_in_secs)))

path = working_directory + '/data/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv'
bitcoin1 = pd.read_csv(path, parse_dates=[0], date_parser=dateparse)

In [4]:
bitcoin1.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 02:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 02:53:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 02:54:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 02:55:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 02:56:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bitcoin = bitcoin1.dropna().reset_index(drop=True)
bitcoin

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 02:52:00+00:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,2011-12-31 10:50:00+00:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
2,2011-12-31 11:59:00+00:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
3,2011-12-31 12:00:00+00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
4,2011-12-31 23:16:00+00:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
3613764,2021-03-30 19:56:00+00:00,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
3613765,2021-03-30 19:57:00+00:00,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
3613766,2021-03-30 19:58:00+00:00,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
3613767,2021-03-30 19:59:00+00:00,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
3613768,2021-03-30 20:00:00+00:00,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [7]:
bitcoin['Timestamp'] = bitcoin['Timestamp'].dt.tz_localize(None)
bitcoin

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 02:52:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,2011-12-31 10:50:00,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
2,2011-12-31 11:59:00,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
3,2011-12-31 12:00:00,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
4,2011-12-31 23:16:00,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
3613764,2021-03-30 19:56:00,58714.31,58714.31,58686.00,58686.00,1.384487,81259.372187,58692.753339
3613765,2021-03-30 19:57:00,58683.97,58693.43,58683.97,58685.81,7.294848,428158.146640,58693.226508
3613766,2021-03-30 19:58:00,58693.43,58723.84,58693.43,58723.84,1.705682,100117.070370,58696.198496
3613767,2021-03-30 19:59:00,58742.18,58770.38,58742.18,58760.59,0.720415,42332.958633,58761.866202
3613768,2021-03-30 20:00:00,58767.75,58778.18,58755.97,58778.18,2.712831,159417.751000,58764.349363

In [8]:
bitcoin = bitcoin.groupby([pd.Grouper(key='Timestamp', freq='D')]).first().reset_index()
bitcoin

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,2012-01-01,4.84,4.84,4.84,4.84,10.000000,48.400000,4.840000
2,2012-01-02,5.00,5.00,5.00,5.00,19.048000,95.240000,5.000000
3,2012-01-03,5.32,5.32,5.32,5.32,2.419173,12.870000,5.320000
4,2012-01-04,4.93,4.93,4.93,4.93,9.680000,47.722400,4.930000
...,...,...,...,...,...,...,...,...
3373,2021-03-26,52449.23,52537.81,52449.23,52527.35,2.742287,143985.370640,52505.587896
3374,2021-03-27,54821.66,54856.01,54821.66,54856.01,0.261643,14346.416748,54832.004555
3375,2021-03-28,56095.81,56158.59,56095.81,56149.01,0.898928,50459.981106,56133.517533
3376,2021-03-29,55361.25,55417.15,55361.25,55401.67,1.314104,72804.822995,55402.653850
3377,2021-03-30,57069.04,57072.89,57033.66,57051.13,0.857266,48912.428151,57056.299759

In [9]:
bitcoin = bitcoin.set_index('Timestamp')

In [10]:
bitcoinx = bitcoin[['Close']]
bitcoinx

               Close
Timestamp
2011-12-31      4.39
2012-01-01      4.84
2012-01-02      5.00
2012-01-03      5.32
2012-01-04      4.93
...              ...
2021-03-26  52527.35
2021-03-27  54856.01
2021-03-28  56149.01
2021-03-29  55401.67
2021-03-30  57051.13

[3378 rows x 1 columns]

In [11]:
bitcoinx['Close'] = bitcoinx['Close'].fillna(method='ffill')

<ipython-input-11-8db6d492bfdd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoinx['Close'] = bitcoinx['Close'].fillna(method='ffill')

In [13]:
bitcoinx.index = pd.to_datetime(bitcoinx.index)

In [14]:
#print(bitcoin.head(20))


splitdate = '2018-12-17'
predate = '2020-04-01'
bitcoin_train = bitcoinx.loc[bitcoinx.index > splitdate]
bitcoin_train = bitcoin_train.loc[bitcoin_train.index <= predate]
bitcoin_test = bitcoinx.loc[bitcoinx.index > predate]
#bitcoin_test = bitcoin_test.loc[bitcoin_test.index < '2020-04-25']

In [15]:
bitcoin_train = bitcoin_train.reset_index()
bitcoin_trainx = bitcoin_train[['Timestamp']]
bitcoin_trainx['Timestamp'] = pd.to_datetime(bitcoin_trainx['Timestamp'])
bitcoin_trainx['Timestamp']=bitcoin_trainx['Timestamp'].map(dt.datetime.toordinal)
bitcoin_trainx

<ipython-input-15-44349ceef573>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_trainx['Timestamp'] = pd.to_datetime(bitcoin_trainx['Timestamp'])
<ipython-input-15-44349ceef573>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_trainx['Timestamp']=bitcoin_trainx['Timestamp'].map(dt.datetime.toordinal)

     Timestamp
0       737046
1       737047
2       737048
3       737049
4       737050
..         ...
466     737512
467     737513
468     737514
469     737515
470     737516

[471 rows x 1 columns]

In [16]:
bitcoin_trainy = bitcoin_train[['Close']]
bitcoin_trainy

       Close
0    3517.74
1    3715.25
2    3736.95
3    4017.46
4    3807.18
..       ...
466  6109.16
467  6209.34
468  6017.46
469  6435.00
470  6380.47

[471 rows x 1 columns]

In [26]:
bitcoin_test= bitcoin_test.reset_index()

bitcoin_test

     index  Timestamp     Close
0        0 2020-04-02   6626.56
1        1 2020-04-03   6783.30
2        2 2020-04-04   6697.55
3        3 2020-04-05   6785.86
4        4 2020-04-06   6864.44
..     ...        ...       ...
358    358 2021-03-26  52527.35
359    359 2021-03-27  54856.01
360    360 2021-03-28  56149.01
361    361 2021-03-29  55401.67
362    362 2021-03-30  57051.13

[363 rows x 3 columns]

In [27]:
bitcoin_testx = bitcoin_test[['Timestamp']]
bitcoin_testx['Timestamp'] = pd.to_datetime(bitcoin_testx['Timestamp'])
bitcoin_testx['Timestamp']=bitcoin_testx['Timestamp'].map(dt.datetime.toordinal)
bitcoin_testx

<ipython-input-27-f3d0816fa189>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_testx['Timestamp'] = pd.to_datetime(bitcoin_testx['Timestamp'])
<ipython-input-27-f3d0816fa189>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoin_testx['Timestamp']=bitcoin_testx['Timestamp'].map(dt.datetime.toordinal)

     Timestamp
0       737517
1       737518
2       737519
3       737520
4       737521
..         ...
358     737875
359     737876
360     737877
361     737878
362     737879

[363 rows x 1 columns]

In [28]:
bitcoin_testy = bitcoin_test[['Close']]
bitcoin_testy

        Close
0     6626.56
1     6783.30
2     6697.55
3     6785.86
4     6864.44
..        ...
358  52527.35
359  54856.01
360  56149.01
361  55401.67
362  57051.13

[363 rows x 1 columns]

# Linear Regression

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
reg = LinearRegression()

In [31]:
reg = reg.fit(bitcoin_trainx,bitcoin_trainy)

In [32]:
bitcoin_predy = reg.predict(bitcoin_testx)

In [115]:
print("linear regression: ", mean_squared_log_error(bitcoin_test['Close'], bitcoin_predy))

linear regression:  0.4016838940072041

# Support Vector Machine

In [99]:
print(bitcoinx)

               Close  Prediction
Timestamp
2011-12-31      4.39        5.30
2012-01-01      4.84        5.70
2012-01-02      5.00        5.52
2012-01-03      5.32        6.16
2012-01-04      4.93        6.00
...              ...         ...
2021-03-26  52527.35         NaN
2021-03-27  54856.01         NaN
2021-03-28  56149.01         NaN
2021-03-29  55401.67         NaN
2021-03-30  57051.13         NaN

[3378 rows x 2 columns]

In [100]:
#A variable for predicting 'n' days out into the future
prediction_days = 30 
#n = 30 days

#Create another column (the target or dependent variable) shifted 'n' units up
bitcoinx['Prediction'] = bitcoinx[['Close']].shift(-prediction_days)

<ipython-input-100-8fe9d60001c3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bitcoinx['Prediction'] = bitcoinx[['Close']].shift(-prediction_days)

In [101]:
bitcoinx.head()

            Close  Prediction
Timestamp
2011-12-31   4.39        5.30
2012-01-01   4.84        5.70
2012-01-02   5.00        5.52
2012-01-03   5.32        6.16
2012-01-04   4.93        6.00

In [102]:
bitcoinx.tail()

               Close  Prediction
Timestamp
2021-03-26  52527.35         NaN
2021-03-27  54856.01         NaN
2021-03-28  56149.01         NaN
2021-03-29  55401.67         NaN
2021-03-30  57051.13         NaN

In [103]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(bitcoinx.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(bitcoin)-prediction_days]
print(X)

[[4.390000e+00]
 [4.840000e+00]
 [5.000000e+00]
 ...
 [4.719240e+04]
 [4.759500e+04]
 [4.433332e+04]]

In [104]:
#CREATE THE DEPENDENT DATA SET (y) 
# Convert the dataframe to a numpy array (All of the values including the NaN's) 
y = np.array(bitcoinx['Prediction'])  
# Get all of the y values except the last 'n' rows 
y = y[:-prediction_days] 
print(y)

[5.300000e+00 5.700000e+00 5.520000e+00 ... 5.614901e+04 5.540167e+04
 5.705113e+04]

In [105]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [106]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(bitcoinx.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[46481.83]
 [49138.32]
 [49196.4 ]
 [49203.53]
 [46737.32]
 [48439.71]
 [49428.12]
 [50528.08]
 [53785.49]
 [53620.44]
 [55735.57]
 [56708.33]
 [57032.02]
 [61199.06]
 [60528.22]
 [54150.19]
 [55475.97]
 [58802.57]
 [57808.56]
 [58299.31]
 [57778.8 ]
 [57637.17]
 [54638.56]
 [54279.85]
 [52050.  ]
 [52527.35]
 [54856.01]
 [56149.01]
 [55401.67]
 [57051.13]]

In [107]:
from sklearn.svm import SVR

In [108]:
# Create and train the Support Vector Machine 
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)#Create the model

In [109]:
svr_rbf.fit(x_train, y_train) #Train the model

SVR(C=1000.0, gamma=1e-05)

In [110]:
# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.4920305104330943

In [111]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[8.31066440e+02 7.82671885e+02 2.40631874e+02 9.62224685e+03
 1.12240876e+01 1.20934754e+01 2.50099803e+02 1.12014675e+03
 1.06215085e+04 4.80060613e+02 6.17824568e+03 1.35802623e+04
 7.05770350e+01 1.22646693e+01 4.22725881e+02 6.09236353e+02
 8.01111588e+03 1.13990006e+04 2.58098874e+02 5.42027304e+02
 2.14317433e+02 7.59957017e+03 8.51404765e+03 1.02949728e+03
 1.50700621e+02 5.13386434e+03 5.20217992e+03 1.21910683e+01
 5.19387786e+03 8.11964116e+03 1.22064028e+01 2.43139372e+02
 9.32250319e+03 5.55313368e+02 6.83564413e+03 8.23775625e+03
 1.07953942e+01 7.47565752e+02 1.29162251e+04 1.07745132e+01
 4.98243535e+02 4.46632618e+02 4.24152399e+02 1.15921555e+04
 9.36298256e+01 4.70005336e+02 5.97640189e+02 8.84800821e+03
 7.62489868e+02 4.07507023e+02 1.08465404e+01 1.50344941e+02
 9.20697429e+03 1.07978992e+01 8.91314965e+03 6.90677616e+02
 5.14198884e+03 3.76912213e+02 1.22256912e+01 4.28822028e+02
 3.86371719e+02 8.34661215e+03 4.86983515e+02 5.16714122e+03
 2.70566166e+03 7.78665296e+03 8.64768201e+03 2.57135224e+02
 2.84301144e+03 4.59257559e+02 1.07704748e+01 4.61611747e+03
 8.82083018e+03 1.07194814e+04 7.36936334e+03 3.88541149e+03
 1.08590282e+01 2.52165036e+02 1.08695129e+01 8.84498876e+03
 1.12594362e+04 1.37356603e+04 1.09650543e+01 8.64468380e+03
 6.39544442e+03 2.70317180e+02 9.40890766e+03 6.62097969e+03
 2.23292804e+02 4.69368696e+02 3.74077004e+03 6.79867012e+02
 1.16682150e+01 5.25137078e+02 3.75484789e+02 6.69971718e+02
 1.20861174e+01 4.20238852e+02 6.52344639e+02 1.36496968e+01
 8.54807108e+03 2.62065516e+02 1.07778309e+01 1.21834331e+01
 1.21872480e+01 1.47881684e+02 9.55705971e+02 4.61172348e+01
 9.35268613e+03 9.13389549e+03 6.11508853e+02 4.19942818e+03
 2.61235311e+02 4.45913541e+03 5.00348114e+02 9.91286583e+03
 6.66914935e+03 1.20346019e+04 6.62485191e+02 2.52810076e+02
 6.30445666e+02 2.73609038e+02 3.73939714e+02 6.56683485e+03
 3.19576769e+03 3.38215482e+02 1.16502198e+01 1.22108956e+04
 4.65153052e+02 9.22204172e+03 9.55060876e+03 4.73462296e+02
 1.20832687e+04 7.05318931e+03 8.84282086e+03 2.35284566e+02
 5.87452444e+02 7.11565042e+03 8.59526765e+03 6.02870205e+02
 1.19292722e+03 6.17771021e+03 7.58767758e+03 5.92870373e+02
 3.25801649e+02 2.79000457e+02 6.56036743e+02 1.07938247e+04
 2.68133090e+02 1.08482658e+01 1.03227439e+04 5.19899620e+03
 8.70910965e+03 1.12000947e+04 1.41973932e+02 8.31768583e+02
 1.08420036e+02 1.07828931e+01 4.59243986e+02 1.06096022e+04
 1.06516111e+04 1.36358355e+04 4.99665975e+03 2.38327824e+02
 4.25112456e+02 1.39898233e+02 1.22685966e+01 2.41326397e+02
 5.82994940e+02 2.68396404e+03 4.25140688e+02 5.48020903e+02
 4.42951599e+02 6.25409157e+02 7.48905531e+03 1.32637475e+03
 7.40560128e+03 3.24286907e+02 3.86671776e+03 8.43381433e+03
 4.17336779e+03 1.07832401e+01 5.95850453e+02 2.81061152e+03
 1.15715629e+01 1.75047652e+03 1.09582173e+01 6.25077526e+03
 9.14223372e+03 9.27155362e+03 3.86528900e+03 1.16894469e+01
 8.93153639e+03 1.07715438e+01 1.06695804e+04 9.27187168e+03
 1.07632491e+02 8.95617097e+03 9.43178744e+02 4.13636986e+02
 3.84752032e+03 2.67756729e+02 5.94085111e+02 8.76878804e+03
 1.03533209e+04 2.83338140e+03 6.93634176e+03 7.27645467e+03
 1.90815847e+03 9.36507185e+03 2.68246386e+02 1.28445656e+01
 6.31023621e+02 2.50267404e+02 1.00929731e+04 1.07912241e+01
 6.91588733e+02 4.16945015e+02 5.86437929e+02 2.22877655e+02
 4.31539673e+02 1.22058111e+04 3.84373277e+03 5.90152271e+02
 6.11406044e+02 1.11064462e+04 8.34491807e+03 2.92823591e+03
 1.07772114e+01 1.03556815e+02 4.02965249e+03 1.13015303e+01
 2.48975359e+02 9.24995264e+03 1.22256912e+01 1.07356007e+04
 1.10858485e+02 6.41328184e+02 9.82216823e+03 1.13957247e+03
 3.84995767e+03 1.17610134e+01 1.07839485e+01 4.48680650e+02
 1.12096093e+04 8.46265907e+02 2.73452983e+02 1.13584917e+04
 1.33629885e+01 8.48193906e+03 8.54746491e+03 1.38420515e+02
 2.45504673e+02 1.08644953e+04 2.63871272e+02 1.23081640e+01
 8.59068008e+03 4.52428586e+02 6.48400090e+03 5.97409348e+02
 4.81603776e+02 1.09220306e+04 3.04609764e+02 1.07920898e+01
 4.37687700e+02 9.51603810e+03 1.08358352e+01 3.87858864e+03
 9.06049126e+03 4.64173352e+02 5.92354532e+02 8.78886980e+03
 1.08500106e+01 1.52624881e+02 8.55357317e+03 1.79960365e+04
 5.90495646e+02 3.70408233e+02 1.51027314e+02 1.18333417e+04
 3.44237996e+02 2.41872787e+02 6.67946102e+03 6.27992685e+03
 5.06864191e+03 6.83898062e+02 1.08741467e+04 1.23850167e+04
 1.55185279e+02 4.83440190e+03 4.38807110e+02 8.84794271e+03
 9.54173427e+03 5.19626382e+03 1.27101378e+04 6.21127616e+02
 8.44184922e+03 1.20452319e+04 4.94899174e+03 6.60055460e+02
 8.68354249e+03 4.61167669e+02 1.08005248e+01 4.22555040e+03
 8.67093318e+03 3.69390988e+03 1.21796235e+01 1.19939936e+02
 7.83712012e+02 2.47006358e+02 4.37149325e+03 8.38444856e+03
 1.11013999e+04 8.66996286e+03 3.52118043e+03 2.43668535e+02
 3.28239701e+01 3.41792812e+02 1.54112035e+02 3.69174912e+02
 1.21268497e+01 1.22102498e+01 3.86792664e+03 2.30787080e+02
 5.21937742e+02 2.82119759e+03 1.11374135e+03 6.43865532e+03
 8.81394215e+03 2.65314852e+02 9.29703265e+03 6.25365751e+02
 3.62380372e+02 2.46912303e+02 1.12487180e+01 4.09557212e+03
 2.53782237e+02 9.18228843e+03 3.85861707e+03 3.88297426e+02
 2.58392620e+02 7.10650088e+02 1.11291892e+04 1.09611527e+04
 1.18819679e+01 7.23933300e+02 6.19177536e+02 8.57702741e+03
 2.97581496e+01 2.99022925e+02 1.07949077e+01 4.83713515e+02
 1.31376447e+02 6.21027800e+03 2.69498273e+02 1.18853369e+01
 2.48766386e+02 8.49738104e+03 3.16804602e+02 6.19503777e+02
 6.09600069e+02 1.06159557e+04 1.09449506e+04 6.08078492e+02
 2.88452597e+03 7.90845543e+03 1.89343186e+04 5.27871320e+02
 8.75025385e+03 1.23161419e+01 8.98510341e+03 3.09308490e+02
 6.55128832e+02 1.60873855e+04 1.02357754e+03 4.30878279e+02
 2.77890102e+02 7.05894300e+02 8.22167183e+03 2.59072339e+02
 5.88678389e+02 4.68558193e+02 1.08897521e+04 1.16652027e+01
 8.56371287e+03 4.79157072e+02 6.31768378e+02 6.16205812e+02
 6.18201169e+03 4.10231673e+02 1.21872480e+01 9.66753937e+03
 4.93191602e+02 7.66794788e+03 4.19221118e+02 2.53899522e+02
 1.22102498e+01 8.09051474e+03 6.37080413e+03 1.34737790e+04
 6.86517288e+03 1.16441656e+04 1.14369899e+04 2.45750967e+02
 1.21948939e+01 9.87790798e+02 1.07763354e+01 1.01859357e+04
 6.70737386e+02 7.40178416e+02 1.38917068e+04 6.66594466e+01
 1.58940229e+04 1.10281617e+02 2.52339295e+02 9.25456750e+03
 8.91274105e+03 7.22793223e+03 2.92113202e+03 6.20856970e+03
 1.13585794e+04 6.93376027e+03 1.03056390e+04 7.62225002e+03
 1.14857592e+04 9.13637835e+03 2.55968937e+02 1.49503318e+03
 6.36061109e+02 9.07432945e+03 1.12250686e+04 8.66411529e+03
 2.58782007e+02 6.73390688e+02 3.42025174e+02 7.67737937e+03
 4.70151091e+02 4.19197651e+03 3.87578825e+03 7.83909528e+03
 4.40549851e+03 9.25246407e+03 3.24852837e+01 2.68133090e+02
 1.07770620e+01 1.01166505e+04 8.98682773e+03 4.90611282e+03
 8.04437862e+03 9.14259780e+03 2.47236225e+02 6.13003435e+02
 7.06574629e+03 1.57093700e+02 3.84572566e+03 6.18621208e+03
 5.20184224e+03 3.48661603e+02 2.75223237e+02 9.64208037e+03
 7.07019479e+03 4.07958585e+02 9.21177826e+03 8.78904155e+03
 6.27871583e+02 1.16187717e+02 1.02171047e+04 1.55325620e+01
 1.48729797e+02 1.53397912e+02 8.73088233e+03 7.32059075e+03
 1.07743194e+01 7.08895531e+03 1.07769602e+01 5.94179084e+02
 1.14484892e+04 1.62619030e+03 6.59656660e+02 1.34486655e+04
 2.00959698e+03 1.11866970e+03 9.23745445e+03 1.42298590e+02
 8.39840624e+03 2.51048940e+02 7.81534076e+03 8.51284672e+03
 3.39240325e+02 1.07763354e+01 1.01075817e+03 1.08171122e+01
 1.07767070e+04 8.08610793e+03 4.29427891e+02 1.35586816e+04
 5.60206003e+02 8.58252401e+03 9.32228582e+02 8.84669211e+03
 4.82648801e+03 1.19853376e+01 5.64844293e+02 9.39526545e+03
 4.28103190e+02 1.06878845e+04 1.56566100e+01 3.56099882e+03
 1.48042734e+04 1.11725860e+01 1.01156574e+04 2.86923219e+03
 8.66652472e+03 8.62506877e+03 3.99720829e+02 8.68270423e+03
 3.93250126e+03 3.86547478e+03 8.66968767e+03 1.60932186e+02
 7.95757038e+03 4.47574332e+02 1.43181886e+02 9.64539304e+03
 7.13253645e+03 1.07655763e+03 3.56974752e+03 2.68496877e+01
 8.80559426e+03 5.74161645e+02 1.41219712e+02 1.08374002e+01
 4.69594287e+02 1.09366909e+04 3.68867148e+02 6.19070214e+03
 1.07796871e+01 3.86512233e+03 3.95025642e+01 1.21682268e+01
 4.34463046e+02 2.70766092e+02 2.54707178e+02 3.46523978e+03
 4.56095305e+03 1.44866003e+02 1.17515215e+01 1.39318529e+03
 8.71971689e+02 7.32758002e+02 1.21872480e+01 7.27735462e+02
 4.97894346e+03 1.22804105e+01 2.47580936e+02 8.37973326e+03
 7.54803667e+03 1.23281490e+01 8.03276214e+03 1.40877195e+04
 5.99278606e+02 7.61268712e+03 4.52579695e+02 9.14283172e+03
 6.18351420e+03 1.19193178e+01 8.69537650e+03 3.71335565e+02
 4.58165205e+03 1.58810377e+03 9.30182679e+03 3.63486707e+02
 1.06043363e+04 4.57503750e+02 1.00814349e+04 2.46891401e+02
 4.93474911e+02 6.20924814e+03 3.41267806e+02 6.09730844e+02
 2.43599833e+02 9.15181273e+03 2.44038039e+02 1.08332476e+04
 1.34453607e+03 1.58518988e+02 2.71034189e+02 9.15111670e+03
 8.99117525e+03 1.26035778e+04 9.14530006e+03 8.03428443e+03
 1.07996959e+04 7.60909428e+02 4.44676167e+02 6.31414968e+02
 7.80689437e+03 8.67500990e+03 7.60507084e+03 7.53402933e+02
 5.89989315e+02 2.46504579e+02 9.86450317e+02 1.91636218e+04
 6.19331674e+02 1.09417419e+04 9.97224594e+03 1.07780966e+01
 7.48365966e+03 1.47160396e+02 1.09768492e+02 1.21948939e+01
 1.34926687e+02 6.10129078e+02 2.48003912e+02 1.55878981e+02
 9.14535641e+03 7.51579484e+03 4.04096502e+03 1.27663836e+02
 5.87452444e+02 1.01483983e+03 5.16038853e+03 5.01399331e+02
 6.85384771e+02 1.17483680e+01 6.32425877e+02 4.68664579e+02
 4.70746808e+02 6.18716020e+02 6.58914784e+03 9.19410278e+03
 3.70596227e+02 1.42254343e+02 4.64535955e+02 9.08102119e+03
 1.28259897e+04 1.06461290e+04 4.41380679e+03 3.81739638e+02
 1.38585958e+03 1.07803913e+01 9.01887896e+03 9.72106085e+02
 5.19502136e+03 1.06087269e+04 2.67526349e+03 9.13258633e+03
 5.93118786e+02 2.41256589e+02 2.63451231e+02 1.34316591e+04
 1.07813293e+01 1.45711034e+04 6.88765492e+02 4.78813822e+03
 5.23454781e+02 3.42255557e+03 2.44575263e+02 8.66064227e+03
 2.93467489e+03 9.43956541e+03 4.79402562e+02 8.66005275e+03
 2.81248692e+02 2.49356882e+02 8.96594825e+03 1.21720204e+01
 3.35004414e+02 1.05653521e+04]

[9.924300e+02 8.266700e+02 2.651700e+02 1.196935e+04 1.305000e+01
 4.850000e+00 2.451100e+02 1.335990e+03 6.757130e+03 4.430400e+02
 6.389200e+03 1.414800e+04 1.277200e+02 4.860000e+00 4.409800e+02
 6.390000e+02 7.118000e+03 6.860000e+03 2.790000e+02 4.621100e+02
 8.315000e+02 8.726950e+03 9.034230e+03 9.191000e+02 1.797900e+02
 5.621690e+03 3.991110e+03 5.400000e+00 3.370140e+03 9.046980e+03
 5.880000e+00 2.357900e+02 8.851910e+03 6.002500e+02 7.718000e+03
 7.860870e+03 1.066000e+01 1.003830e+03 1.013267e+04 1.159000e+01
 3.282100e+02 4.544100e+02 4.199500e+02 4.920353e+04 1.085500e+02
 6.361100e+02 6.080000e+02 1.022877e+04 6.644400e+02 3.785000e+02
 1.335000e+01 2.737700e+02 6.673320e+03 1.168000e+01 6.372540e+03
 7.697900e+02 4.062600e+03 4.314100e+02 4.950000e+00 3.904800e+02
 4.287400e+02 1.580919e+04 5.806300e+02 5.143300e+03 2.852650e+03
 1.643000e+04 9.132760e+03 2.231800e+02 2.748400e+03 4.348300e+02
 1.050000e+01 5.680620e+03 7.889990e+03 5.829931e+04 7.179700e+03
 3.893690e+03 1.313000e+01 2.648100e+02 1.330000e+01 1.027232e+04
 1.220913e+04 4.433332e+04 1.232000e+01 9.335910e+03 6.204980e+03
 2.354300e+02 1.028931e+04 6.435440e+03 2.404200e+02 3.788800e+02
 4.612730e+03 5.410100e+02 1.050000e+01 5.250000e+02 4.259800e+02
 6.399900e+02 6.160000e+00 4.200000e+02 5.709200e+02 4.765000e+01
 6.548250e+03 2.426600e+02 1.352000e+01 5.080000e+00 6.660000e+00
 2.538400e+02 1.180970e+03 1.100000e+02 9.621690e+03 7.586990e+03
 7.044500e+02 6.854920e+03 2.295800e+02 5.109720e+03 5.380900e+02
 7.966010e+03 6.251270e+03 8.581030e+03 7.926200e+02 2.672600e+02
 5.839800e+02 3.215800e+02 4.341100e+02 6.189680e+03 2.323630e+03
 3.200000e+02 8.720000e+00 1.840319e+04 3.584800e+02 9.277540e+03
 6.785860e+03 3.815200e+02 1.817937e+04 6.606570e+03 9.482740e+03
 2.371300e+02 6.086000e+02 8.789470e+03 1.030434e+04 4.749100e+02
 1.063560e+03 3.821930e+03 6.043000e+03 4.861000e+02 3.760000e+02
 2.039700e+02 6.639100e+02 1.613282e+04 2.255400e+02 1.160000e+01
 1.066018e+04 3.356820e+03 8.234990e+03 1.104152e+04 1.250000e+02
 5.729200e+02 1.175800e+02 1.076000e+01 3.762500e+02 1.137094e+04
 1.310199e+04 3.425917e+04 5.159550e+03 2.831200e+02 4.253400e+02
 1.165800e+02 4.750000e+00 2.341000e+02 4.670000e+02 2.443820e+03
 4.544600e+02 4.462500e+02 4.541900e+02 5.827200e+02 6.624430e+03
 1.453140e+03 1.052438e+04 3.725100e+02 3.745000e+03 6.341970e+03
 5.667180e+03 1.086000e+01 6.249900e+02 2.959070e+03 5.790000e+00
 1.212200e+03 1.222000e+01 5.481210e+03 6.749900e+03 6.628980e+03
 4.201350e+03 4.570000e+00 7.379630e+03 1.318000e+01 1.056692e+04
 1.268712e+04 1.300400e+02 8.880670e+03 8.820000e+02 3.536800e+02
 5.968370e+03 2.611500e+02 6.219800e+02 9.217770e+03 8.346090e+03
 2.510940e+03 6.248950e+03 8.589460e+03 2.340000e+03 1.165496e+04
 2.525100e+02 4.601000e+01 8.211000e+02 2.404500e+02 7.871450e+03
 2.550000e+01 7.719800e+02 4.184400e+02 6.029900e+02 6.980000e+02
 4.183100e+02 4.928011e+04 3.770470e+03 4.710000e+02 7.085400e+02
 9.631000e+03 8.072020e+03 2.347970e+03 1.081000e+01 1.219600e+02
 3.406740e+03 1.099000e+01 4.433700e+02 9.748190e+03 5.570000e+00
 1.370608e+04 8.914000e+01 4.641500e+02 5.191070e+03 9.800000e+02
 3.582500e+03 8.550000e+00 1.175000e+01 3.723200e+02 1.224601e+04
 6.518600e+02 2.302900e+02 6.122440e+03 4.625000e+01 8.626170e+03
 1.083356e+04 9.984000e+01 2.483800e+02 1.569010e+04 2.439300e+02
 4.800000e+00 7.176680e+03 4.156700e+02 7.011280e+03 6.217700e+02
 6.781100e+02 1.039101e+04 4.508000e+02 1.059000e+01 4.454800e+02
 9.884970e+03 2.739000e+01 5.769110e+03 1.114646e+04 7.567000e+02
 6.527000e+02 1.159800e+04 1.231000e+01 1.389900e+02 9.729780e+03
 1.117048e+04 6.392000e+02 4.316900e+02 1.640000e+02 1.929890e+04
 4.223600e+02 2.545200e+02 6.294130e+03 4.291360e+03 4.165050e+03
 7.440000e+02 9.707350e+03 2.685585e+04 8.879000e+01 3.994590e+03
 4.651100e+02 1.142570e+04 9.684000e+03 3.366040e+03 5.120000e+04
 4.948800e+02 7.962410e+03 1.195060e+04 5.925460e+03 7.250000e+02
 9.420370e+03 3.740300e+02 1.327000e+01 4.080000e+03 9.768450e+03
 4.367710e+03 5.080000e+00 8.398000e+01 8.830000e+02 2.460000e+02
 7.201000e+03 1.110289e+04 1.138339e+04 9.589270e+03 4.038000e+03
 2.873600e+02 2.268800e+02 3.723700e+02 1.439800e+02 2.728600e+02
 5.050000e+00 4.920000e+00 3.704630e+03 2.317400e+02 5.158500e+02
 2.587200e+03 9.687300e+02 6.452410e+03 7.649390e+03 3.359800e+02
 8.753130e+03 7.330000e+02 4.169000e+02 2.437000e+02 2.980000e+01
 4.474900e+03 3.134400e+02 9.275370e+03 3.581210e+03 4.379000e+02
 2.293100e+02 7.892800e+02 8.058300e+03 4.942812e+04 5.000000e+00
 9.481200e+02 5.800000e+02 8.966660e+03 1.349900e+02 2.056500e+02
 1.327000e+01 4.458000e+02 1.233500e+02 6.393540e+03 2.411700e+02
 5.080000e+00 2.468200e+02 1.707730e+04 3.806700e+02 7.467900e+02
 7.020200e+02 1.137750e+04 5.880257e+04 7.013000e+02 2.471510e+03
 6.040000e+03 4.003420e+04 5.954600e+02 9.250000e+03 5.230000e+00
 7.658490e+03 2.137500e+02 6.221300e+02 3.338000e+04 8.040000e+02
 4.072100e+02 2.658800e+02 8.663400e+02 8.158000e+03 2.892200e+02
 6.092400e+02 4.426700e+02 3.874088e+04 8.700000e+00 9.463170e+03
 6.444600e+02 5.653900e+02 5.999000e+02 4.024500e+03 3.869000e+02
 6.630000e+00 9.230540e+03 4.669500e+02 7.888720e+03 3.473000e+02
 2.778400e+02 5.600000e+00 6.232760e+03 6.416510e+03 1.187090e+04
 6.346130e+03 3.923980e+04 1.379971e+04 2.895400e+02 5.520000e+00
 1.195010e+03 2.056000e+01 1.138029e+04 9.287700e+02 6.735400e+02
 1.328019e+04 1.426400e+02 3.844119e+04 1.235500e+02 3.762700e+02
 9.150010e+03 1.009564e+04 7.932720e+03 4.106970e+03 9.175100e+03
 2.183372e+04 6.454880e+03 8.417380e+03 6.394610e+03 4.913832e+04
 9.131890e+03 2.452700e+02 1.555620e+03 6.550500e+02 1.065383e+04
 6.924710e+03 8.255000e+03 2.300000e+02 7.280000e+02 3.681500e+02
 6.416730e+03 6.824500e+02 4.029360e+03 3.924260e+03 6.413220e+03
 3.825000e+03 7.407850e+03 1.896900e+02 2.180100e+02 2.028000e+01
 9.999100e+03 9.381770e+03 3.821240e+03 8.559670e+03 9.161710e+03
 2.298700e+02 4.564500e+02 8.694280e+03 1.271600e+02 3.670690e+03
 3.931350e+03 4.275660e+03 4.307600e+02 2.379300e+02 1.171165e+04
 8.833330e+03 3.529400e+02 9.148990e+03 1.108489e+04 5.907400e+02
 8.910000e+01 9.628910e+03 5.173000e+01 1.840100e+02 3.010000e+02
 6.674010e+03 6.413550e+03 1.320000e+01 8.051320e+03 9.920000e+00
 4.799900e+02 4.797834e+04 1.696110e+03 6.605400e+02 1.850100e+04
 2.252720e+03 1.263460e+03 7.309670e+03 1.016500e+02 9.394620e+03
 2.442800e+02 6.636870e+03 9.134770e+03 3.742600e+02 2.030000e+01
 1.081440e+03 2.400000e+01 1.034478e+04 8.624940e+03 4.178100e+02
 9.724330e+03 6.305700e+02 9.689720e+03 1.066000e+03 6.380470e+03
 6.145420e+03 5.050000e+00 6.898800e+02 8.235280e+03 4.283900e+02
 1.058813e+04 6.599000e+01 2.525470e+03 1.904027e+04 9.980000e+00
 5.250610e+03 2.751000e+03 8.734880e+03 6.497850e+03 4.499800e+02
 9.466140e+03 4.615100e+03 5.941360e+03 6.409750e+03 1.258900e+02
 7.888390e+03 4.465300e+02 1.203800e+02 9.403700e+03 1.614780e+04
 1.280320e+03 4.035110e+03 1.427500e+02 9.629660e+03 5.612600e+02
 1.259700e+02 1.198000e+01 6.530000e+02 5.777880e+04 4.059900e+02
 6.560490e+03 1.155000e+01 3.977860e+03 9.001000e+01 6.510000e+00
 4.072100e+02 2.526400e+02 3.381600e+02 2.749810e+03 5.130390e+03
 7.822000e+01 4.720000e+00 1.196990e+03 9.231300e+02 1.118050e+03
 5.050000e+00 7.871900e+02 3.786470e+03 5.370000e+00 2.460000e+02
 1.400000e+04 7.629030e+03 5.040000e+00 6.711850e+03 8.791200e+03
 5.136400e+02 7.069520e+03 4.144600e+02 1.032551e+04 4.452140e+03
 4.970000e+00 9.431100e+03 4.146500e+02 4.028720e+03 9.553200e+02
 8.323470e+03 3.347200e+02 1.137182e+04 3.950800e+02 8.290690e+03
 2.844900e+02 4.471200e+02 4.655770e+03 4.351000e+02 6.349500e+02
 2.310200e+02 7.192810e+03 3.020100e+02 5.780856e+04 9.197600e+02
 1.093700e+02 2.563200e+02 8.123280e+03 9.073140e+03 1.929335e+04
 9.575300e+03 6.632960e+03 1.170086e+04 8.873800e+02 4.570000e+02
 6.201200e+02 1.511215e+04 7.947620e+03 6.406370e+03 9.630200e+02
 5.989200e+02 2.413400e+02 1.222200e+03 2.300721e+04 6.115200e+02
 1.073310e+04 1.138002e+04 1.567000e+01 7.932870e+03 1.264800e+02
 1.219700e+02 5.080000e+00 9.993000e+01 7.400200e+02 2.325300e+02
 9.014000e+01 9.144340e+03 6.297460e+03 3.620430e+03 7.425000e+01
 6.086500e+02 1.035030e+03 5.142260e+03 3.951000e+02 7.603200e+02
 7.550000e+00 7.421600e+02 4.914200e+02 5.309800e+02 5.144100e+02
 5.978330e+03 9.633290e+03 3.252300e+02 1.232000e+02 5.390000e+02
 7.304650e+03 1.840060e+04 1.077757e+04 3.415360e+03 3.792800e+02
 1.504030e+03 1.553000e+01 9.154550e+03 9.195000e+02 4.188990e+03
 1.183108e+04 2.704020e+03 1.168731e+04 6.079000e+02 2.334300e+02
 2.750100e+02 1.093500e+04 1.306000e+01 8.822560e+03 7.672700e+02
 5.725030e+03 6.560500e+02 2.415810e+03 2.387000e+02 9.292000e+03
 2.704970e+03 8.860000e+03 7.731100e+02 9.758070e+03 2.657000e+02
 2.457800e+02 9.292800e+03 6.270000e+00 3.816100e+02 1.031134e+04]

In [112]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[11092.74148227 10744.28655286 10768.0769882  10772.01446454
 12301.40584026 10840.48789358 11082.76605118 12190.97277601
 10719.48139688 10719.48139688 12455.59873356 11717.18414838
 11027.73698365 10719.48139688 10719.48139688 10719.48139688
 11210.73249642 10719.48139688 10719.48499601 10719.48139688
 10719.48834323 10719.60594326 10719.48236095 10719.48139693
 10719.48155728 10719.48139688 10719.59227442 11607.68273362
 10987.47538586 10988.87182826]

In [114]:
#Print the actual price for the next 'n' days, n=prediction_days=30 
bitcoinx.tail(prediction_days)

               Close  Prediction
Timestamp
2021-03-01  46481.83         NaN
2021-03-02  49138.32         NaN
2021-03-03  49196.40         NaN
2021-03-04  49203.53         NaN
2021-03-05  46737.32         NaN
2021-03-06  48439.71         NaN
2021-03-07  49428.12         NaN
2021-03-08  50528.08         NaN
2021-03-09  53785.49         NaN
2021-03-10  53620.44         NaN
2021-03-11  55735.57         NaN
2021-03-12  56708.33         NaN
2021-03-13  57032.02         NaN
2021-03-14  61199.06         NaN
2021-03-15  60528.22         NaN
2021-03-16  54150.19         NaN
2021-03-17  55475.97         NaN
2021-03-18  58802.57         NaN
2021-03-19  57808.56         NaN
2021-03-20  58299.31         NaN
2021-03-21  57778.80         NaN
2021-03-22  57637.17         NaN
2021-03-23  54638.56         NaN
2021-03-24  54279.85         NaN
2021-03-25  52050.00         NaN
2021-03-26  52527.35         NaN
2021-03-27  54856.01         NaN
2021-03-28  56149.01         NaN
2021-03-29  55401.67         NaN
2021-03-30  57051.13         NaN